.container-pager{
  display: flex;  
  & .btn-page {
    background: var(--dark-gray-1-color);
    color: var(--white-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;    
    text-transform: uppercase;    
    transition: background 0.3s ease;
    margin: 0 2px;
    border:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    & i{
      margin: 0;
      padding: 0;
      font-size: 15px;
    }
  }
  & .btn-active {
    background: var(--success-color);    
  }
  & .btn-disabled{
    opacity: 0.5;
  }  
}
